<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rohit Maurya">



    {% block title %} {% endblock %}
    {% block meta_tag %} {% endblock %}
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />

    {% block css %} {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap" rel="stylesheet">
    
    <style>
      @media (min-width: 768px) {
        .container {
          width: 60%;
          margin: auto;
        }
        .g_pad {
          padding: 14px;
        }
        .g_pad_right_left{
          padding: 0 14px;
        }
        .g_pad_top_bottom {
          padding: 14px 0;;
        }
      }
  
      body {
            font-family: 'Sen', sans-serif;
          }
      </style>
    <!-- <link rel="icon" type="image/png" href="/static/img/logo_v2_favicon.png"> -->
</head>
<body>
    {% block body %} {% endblock %}



    <script type="text/javascript">
            
    </script>

    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>


    {% block script %} {% endblock %}
</body>
</html>