{% extends 'base.html' %}


{% block body %} 
<div>

    {% include 'nav.html' %}
      <div class="container">
        <h3 class="g_pad"> Lists of Data Science Projects </h3>

        <ul>
          <li><a href="/project/spam_detector_demo/">Spam Detection</a></li>
          <li><a href="/project/car_sale_price_prediction_demo/">Car Sale Price Prediction</a></li>
          <li><a href="/project/flight_fare_prediction_demo/">Flight Fare Prediction</a></li>
          <li><a href="/project/sentiment_analysis_demo/">Sentiment Analysis</a></li>
          <li><a href="/project/churn_prediction_demo/">Customer Churn Prediction</a></li>
          <li><a href="/project/gender_age_prediction_demo/">Gender and Age Prediction</a></li>
          <li><a href="/project/speech_emotion_prediction_demo/">Speech Emotion Prediction</a></li>
          <li><a href="/project/credit_card_fraud_detector_demo/">Credit Card Fraud Detector</a></li>
          <li><a href="/project/handwritten_recognition_demo/">Handwritten Digit Recognition Project</a></li>

        </ul>
      </div>

</div>


{% endblock %}
